* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color: #353D41;
}

a {
  margin: 20px 43px 15px 0px;
  color: #fff !important;
  text-decoration: none;
  transition: 0.1s;
}
a.voluntario{
  cursor:default;
}

.logo {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 6px;
  cursor: context-menu;
}

img{
  width:100%;
}

nav {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #033d60;
  height: 10vh;
}

main {
  background-color: #dfe6e9;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
    margin: 0;
    font-size: 14px;
    display: flex;
    position: relative;
}

.nav-list li {
  letter-spacing: 3px;

}
.nav-list ul{
  z-index: 100;
  width: 215px;
  position: absolute;
list-style: none;
margin: 0;
padding: 0;
border-radius: 15px;
  }

  .nav-list ul ul{
    top: 10px;
    margin-left: 84px;
  }

  .nav-list ul li a{
    width: 215px;
    display: block;
    font-size: 14px;
    text-align: center;
    padding: 3px;
    border-radius: 13px;
  }
  a:hover{
    border-radius: 10px;
    background-color: #bdc3c7;
    text-decoration: none !important;
    color: #2d3436 !important;

  }
 

  
  ul.nav.\31 {
    width: 150px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

a.nav.\31 {
  width: -177px;
  width: 93px;
  display: block;
  left: 30px;
  position: relative;
  font-size: 16px;
  text-align: center;
  padding: -2px;
  border-radius: 13px;
}

   ul li ul li{
    float: none;
    
  }
  ul li ul{
    display: none;
    background: #033d60;
  }
  
  ul li:hover > ul, ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.1s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #033d60;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    ul li:hover > li, li ul li:hover{
    visibility: visible;
    opacity: 1;
    display: block;
  
  }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .nav-list ul{
     margin-right: 0px;
     position: relative;
    }
    nav ul li, nav ul ul li{
       display: block;
  
    }
   nav ul li a:hover{
     box-shadow: none;
   }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  
  .slider{
    width: 1000px;
    height: 440px;
    position: relative;
    left: 200px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 1000px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    top: 440px;
    left: 430px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #033d60;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #033d60;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  

  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    top: -60px;
    left: 430px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #033d60;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #033d60;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #033d60;
  }

  h2{
    font-size: 45px;
    line-height: 55px;
    color: #363636;
    font-weight: bold;
  }
  section.content.flex.align-center{
    max-width: 1300px;
    height: 100%;
    padding: 70px 0 70px 40px;
  }
  .banner_home_left{
    width: 100%;
    max-width: 500px;
  }
  #contact-area {
    margin-top: 150px;
    text-align: center;
  
  }
  
  .contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #033d60;
  }
  
  .contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-box p {
    font-size: 15px;
  }
  
  .contact-tile {
    font-weight: bold;
    color: #033d60;
  }
  
  #msg-box p {
    font-size: 22px;
  }
  
  #contact-form input[type="text"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
  }
  
  #contact-form .main-btn {
    width: 120px;
    height: 50px;
  }
  
  #contact-form .main-btn:hover {
    color: #033d60;
  }
  #copy-area {
    background-color: #F1F1F1;
  }
  
  #copy-area .container {
    padding: 10px 0;
    text-align: center;
  }
  
  #copy-area .container p {
    position: relative;
    left: 300px;
    margin-bottom: 0;
  }
  
  #copy-area .container a {
    font-weight: bold;
    color: #444;
  }
  
  #copy-area .container a:hover {
    text-decoration: none;
    color: #033d60;
  }
  
  /* responsive */
  @media(max-width: 768px) {
    
    /* geral */
    .container {
      padding: 20px 0;
    }
    
    /* slider */
    #mainSlider .carousel-inner, #mainSlider .carousel-item {
      height: auto;
    }
  
    #mainSlider .carousel-caption h2 {
      font-size: 28px;
    }
  
    #mainSlider .carousel-caption p {
      font-size: 18px;
      margin-bottom: 40px;
    }
  
    .carousel-caption {
      left: 10%;
      right: 10%;
    }
    
    /* about */
    #about-area img {
      margin-top: 100px;
    }
    
    /* data */
    .circle-box div {
      padding: 0 10px;
    }
  
    #data-area p {
      font-size: 16px;
    }
    
    /* team */
    .card-title {
      font-size: 14px;
    }
  
    .card-text {
      font-size: 12px;
    }
  
    /* apply */
    #apply-area .apply-box {
      padding: 50px 25px;
    }
  
    /* news */
    #news-area p {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    #email-input {
      width: 70%;
    }
  
    #call-area {
      margin-top: 30px;
    }
  
    #call-area .container {
      padding: 30px;
    }
  
    #call-area p, #call-area #call-btn {
      font-size: 16px;
    }
  
  }
  
  
  @media(max-width: 425px) {
  
    /* slider */
    #mainSlider {
      margin-top: 90px;
    }
  
    #mainSlider .carousel-caption {
      top: 5%;
    }
  
    #mainSlider .carousel-caption h2 {
      font-size: 18px;
      margin-bottom: 40px;
    }
  
    #mainSlider .carousel-caption p {
      display: none;
    }
  
    .carousel-caption .main-btn {
      
      font-size: 14px;
    }
  
    /* about */
    .main-title {
      font-size: 30px;
    }
  
    #about-area img {
      margin-top: 0;
      margin-bottom: 30px;
    }
  
    /* data */
    .circle-box {
      width: 50%;
    }
  
    #team-area .col-md-3 {
      width: 50%;
      margin-bottom: 30px;
    }
  
    /* apply */
    #apply-area {
      height: auto;
    }
  
    #company-img {
      display: none;
    }
  
    /* filter */
    #portfolio-area .filter-btn {
      margin-bottom: 20px;
    }
  
    .project-box {
      width: 50%;
    }
  
    /* news */
    #news-area .main-title {
      font-size: 24px;
    }
  
    #news-area p {
      font-size: 16px;
    }
  
    #email-input {
      width: 80%;
    }
  
    #call-area p, #call-area #call-btn {
      font-size: 14px;
      letter-spacing: 0;
    }
  
    #call-area p, #call-area #call-btn {
      margin: 0;
      width: 50%;
    }
  
    /* contact */
    .contact-box {
      border: none;
      margin-bottom: 0;
    }
  
  
  }
  footer{
    display: grid;
  }
  p.paragrafo_footer {
    position: relative;
    left: 170px;
    color: #033d60 !important ;
  }
  a.a_footer {
    color: #033d60 !important;
  }
  .container3 {
    width: 600px;
    position: relative;
    z-index: 999;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  input.btn.sn{
    position: relative;
      left: 16px;
      top: 134px;
      width: 150px;
      height: 50px;
      color: white;
      background-color: #033d60;
  
  }
  input.btn.sn:hover{
    background-color:#3c6382;
  }
  input.btn.sm {
    background-color: #033d60;
    color: white;
    position: relative;
    top: 15px;
    left: 160px;
    height: 50px;
    width: 150px;
  }
  h2.exit {
    font-size: 11px;
    position: relative;
    left: 40px;
    top: -10px;
}
  
  h2.user {
    position: relative;
    left: 39px;
    top: 8px;
    font-size: 23px;
    color: darkturquoise;

  }